<div class="row">
  <div class="col-md-6">
    <ul class="scrolling list-group row" *ngIf="users.length > 0">
      <ng-container *ngFor="let job of jobs">
        <li
          class="col-md-12 list-group-item bg-dark"
          [routerLink]="['/jobs', job.name]"
        >
          {{ job.name }}
        </li>
      </ng-container>
    </ul>
  </div>
  <!--Tercera columna, detalles de usuario-->
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12 verde text-center">JAKE ADAM MONTOYA</div>
    </div>
  </div>
</div>
