<!-- <app-menu></app-menu> -->
<!-- <app-users></app-users> -->
<!--Centrado a mano, hay que mejorar xddddd-->
<div class="container" style="margin-top: 30px">
  <!--Verde texto de arriba con titulo y descripcion-->
  <div class="row">
    <div class="col-lg-12 verde">
      <h4>GTA V Online Roleplay</h4>
      <h6>
        gta cinco online es un asdfj fkr ckrrkl krle kdmldkk meklkrlem vrkel
        klejr klerk ljrlke jkrj klejrk jelk
      </h6>
    </div>
  </div>

  <!--Menu y demas mierdas de los 3 titulos(incluir aqui la barra de busqueda)-->
  <div class="row azul text-white text-center">
    <!-- <div class="col-lg-12">
      <div class="row text-white text-center"> -->
    <div class="col-md-2">Menu</div>
    <div class="col-md-5">Buscador</div>
    <div class="col-md-5">Detalles</div>
    <!-- </div>
    </div> -->
  </div>

  <!-- Todo el contenido interesante -->
  <div class="row">
    <!--Primera columna, users y jobs-->
    <div class="col-md-2 text-white text-center">
      <app-menu></app-menu>
    </div>
    <!--Segunda columna, lista de usuario-->
    <div class="col-md-10 text-white text-center">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!--sponsors-->
  <footer>
    <div class="row verde pt-1">
      <div class="col-md-2">
        <img src="./../assets/images/sogeti.png" alt="sogeti" class="img-fluid"/>
      </div>
      <div class="col-md-2">
        <img src="./../assets/images/s2v.png" alt="s2v" class="img-fluid" />
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-4 offset-md-8">
        <div class="row justify-content-end">
          <div class="col-md-10 text-right text-white font-italic">
            <span>by MuchasChuches</span>
          </div>
          <div class="col-md-2">
            <img src="./../assets/images/equipo.png" alt="s2v" class="img-fluid"/>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
